*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --index: calc(1vw + 1vh)
}

.mainContainer{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 30px;
padding-bottom: 50px;
min-height: 300px;

}

.containerCart{
    width: 70%;
    display: flex;


}
.left{
    width: 70%;
    height: 900px;
    overflow: scroll;


    
}

.product, .changing{
    box-sizing: content-box;

    margin-top: 20px;
    width: 80%;
    padding: 30px 10px;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.111);



    height: 150px;
    color: rgb(41, 41, 41);
    display: flex;
    justify-content: space-between;
}

.check{
    display: flex;
    justify-content: center;
}

.checkbox{
    width: 5%;
    margin-left: 10px;

}
.leftMiddle{
    width: 64%;
}
.zagolovok{
    margin-bottom: 10px;
    color: black;
}
.pflex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 42%;
    font-size: 13px;
    margin-top: -2px;
}
.min{
    font-size: 13px;

}

.errOrNot, .errOrNot1{
    width: 100%;
    margin-left: 5px;
    cursor: pointer;

    
}

.errOrNot1{
    width: 15%;
    cursor:auto;
}

.leftRight{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.delete{
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
   
}
.img_block{
    width: 20%;
}

.prodImg{
    width: 96%;
    height: 98%;
    border-radius: 7px;
}

.none{
    display: none;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 300%;
    padding-bottom: 5px;

}

.otm, .ud{
    background: none;
    width: 48%;
    border: none;
    cursor: pointer;
    background-color: #ffe97d;
    color: black;
    border-radius: 5px;
    height: 30px;
}

.checking{
    background: none;
    border: none;
    width: 15%;
}

.right{
    width: 35%;

}

.scroll{
    height: 230px;
    overflow: scroll;
    padding: 10px 0px;

    background-color: rgba(128, 128, 128, 0.206);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 0.5px solid white;
    
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.172);


}

.rightImage{
    width: 30%;
    border-radius: 5px;
}

.rightProduct {
    background-color: white;
    width: 90%;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.101);
    display: flex;

}

.rightProduct h1{
    font-size: 10px;
    margin-top: 20px;
}

.sum{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.sum input {
background-color: #ffe97d;
border: none;
border-radius: 5px;
width: 40%;
padding: 10px 0px;
cursor: pointer;

}

.right2{
    display: flex;
    flex-direction: column;
}

.rightProduct p{
    font-size: 8px;
    margin-top: 2px;
}

.div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.second{
    margin-left: 20px;
    width: 350%;
}


.modal{
    width: calc(var(--index) * 20.2);
    height: calc(var(--index) * 22.2);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.337);
    background-color: white;
    border-radius: 5px;
    position: fixed;
    left: calc((100vw - (var(--index) * 20.2)) / 2);
    top: calc((100vh - (var(--index) * 22.2)) / 2);
    display: flex;
flex-direction: column;
align-items: center;
}

.card{
    width: 80%;

}

.x{
    width: 30px;
    height: 30px;

}

.pay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 170px;
    border-radius: 5px;
}