.specs {
  width: 55%;
  border-right: 1.2px solid #e6e9ec;
  padding-top: 15px;
}

.specs_text {
  display: flex;
}
.specs_title {
  flex: 1;
}
.specs_desc {
  color: rgb(126, 123, 123);
  width: 50%;
}
ul {
  font-size: 14px;
  list-style-type: none;
  padding-left: 0;
}
li {
  margin-bottom: 8px;
}
