.filter_container {
  margin: auto;
  text-align: center;
  width: 500px;
  background-color: #f8f8f8;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 15px;

}

.filter_title_box {
  display: flex;
  justify-content: center;
}
.filter_title_car {
  border-radius: 0px 10px 0px 0px;
  padding: 10px 30px 10px 30px;
  border: 0.5px solid #e6e9ec;
  background-color: #f8f8f8;
  font-size: 18px;
  color: rgb(73, 73, 73);
  width: 30%;
  font-weight: 400;
}

.filter_title_category {
  border-radius: 10px 0px 0px 0px;
  padding: 10px 30px 10px 30px;
  border: 0.5px solid #e6e9ec;
  background-color: #f8f8f8;
  font-size: 18px;
  color: rgb(73, 73, 73);
  width: 70%;
  font-weight: 400;
}

/* .alert-enter{
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active{
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, tranform 300ms;
}
.alert-exit{
  opacity: 1;
}

.alert-exit-active{
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, tranform 300ms;
} */
.text {
  animation: show-text 1s forwards;
}

@keyframes show-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.yellowBtn {
  background-color: #fade56;
  border: 0.5px solid #e6e9ec;
  font-weight: 600;
}
