@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap");
* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

.product_container {
  width: 900px;
  margin: auto;
  margin-top: 20px;
}








