* {
  box-sizing: border-box;
}

.product_container {
  width: 950px;
  margin: auto;
  margin-top: 20px;
}
.links {
  display: flex;
  color: rgb(85, 85, 85);
  font-size: 14px;
}
.home_link {
  color: rgb(85, 85, 85);
}
.model_link {
  color: black;
}
.product_box {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.product_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 400px;

  border: 0.8px solid #e6e9ec;
  border-radius: 10px;
}
.product_image {
  max-height: 80%;
  max-width: 80%;
  align-items: center;
  border-radius: 10px;
}

.product_info_container {
  padding-left: 15px;
  flex: 1;
  width: 44%;
  background-color: #9dbad8;
  border-radius: 10px;
  border: 0.8px solid #e6e9ec;
}
.tire_name{
    font-size: 20px;
    font-weight: 400;
}