.similar_content {
  margin-top: 40px;
}

.similar_title_text{
    font-size: 25px;
}

.table_container {
  margin-top: 20px;
}

.title_table {
  background-color: #f4d84f;
  font-weight: 600;
}
.product_name{
    color: black;
}
td{
  
}
