.test {
  width: 600px;
  height: 350px;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
}
.content {
  width: 250px;
  border-radius: 10px;
  background-color: whitesmoke;
  height: 150px;
  margin-top: 45px;
  margin-left: 180px;
}
.firstBlock {
  display: flex;
}
.content1 {
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
  color: grey;
}
.text {
  margin-left: 10px;
}
.text2{
    margin-left: 198px;
    font-size: 20px;
    margin-top: 20px;
}
.text3{
    margin-left: 200px;
    margin-top: 50px;
}
.text33{
font-size: 20px;
}
.text34{
    margin-top: 20px;
    font-size: 15px;
    color: gray;
    font-family: Montser, sans-serif;
    overflow-x: hidden;
}
.text6{
    margin-top: 20px;
    font-size: 15px;
    color: gray;
    font-family: Montser, sans-serif;
    overflow-x: hidden;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
}
.d{
    color: #000;
    margin-left: 5px;
    margin-bottom: 2px;
}
.text4{
    margin-top: 20px;
}
.mainText {
  margin-left: 30px;
  margin-top: 20px;
}
